* {
    overflow-x: hidden;
}

.contact_container {
    background-image: url(../../assets/contact.svg);
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
}
